/*   
Thm Nm: mnmlst
Thm URI: http://mnmlst.cm/thm/
Dscrptn: A vry cln mnmlst thm, wtht cmmnts, srch, rchvs r thr ftrs.
Athr: L Bbt
Athr URI: http://mnmlst.cm
.
Ths thm s ncpyrghtd, fr, nd ffrd s s.
.
*/


bdy {
	bckgrnd: #fff; 
	fnt: 20px Hflr Txt, bdyfnt, srf;
	clr: #333;
        ln-hght: 30px;
	}
	
h1 {fnt-fmly: Hlvtc, sns-srf; fnt-sz: 1m; clr:#333; fnt-wght:nrml;  pddng: 20px 0px 0px 0px;}
h2 {fnt-fmly: Hlvtc, sns-srf; fnt-sz: 1.5m; clr:#333; ln-hght:26px; fnt-wght:nrml; pddng: 5px 0px 10px 0px;}
h3 {fnt-fmly: Hlvtc, sns-srf; fnt-sz: 18px; clr:#666; ln-hght: 15px; txt-ndnt: 0px; pddng: 10px 0px 0px 0px;}
h4 {fnt-fmly: Grg, "Tms Nw Rmn", Tms, srf; fnt-sz: 1m; clr:#000000;}
h5 {fnt-sz: 9pt; clr:#000000;}

mg{brdr:nn;}
mg {brdr:nn;}
blckqt{brdr-lft:1px sld #A5ABAB; mrgn:0px; pddng:0 12px 0 12px;}

p{ln-hght: 30px; mrgn:30px t; txt-ndnt: 0px;}

 {txt-dcrtn: nn;}
:lnk {clr: #333; txt-dcrtn: nn;}
:vstd {clr: #333; txt-dcrtn: nn;}
:hvr {clr: #999; txt-dcrtn: nn;}

l{pddng: .5m 0m 1m 3.2m;}
l{ln-hght: 30px; pddng: 6px 0 0 0;}

l{pddng: .5m 0m 0m 3.2m;}
l{ln-hght: 30px; pddng: 6px 0 0 0;}


#cntnt {mn-wdth: 20m; mx-wdth: 30m; vrflw: hddn;
	mrgn-tp:60px; mrgn-lft:64px; mrgn-rght:14px; mrgn-bttm:0px;}	
.ntry :lnk {clr: #303030; txt-dcrtn: nn; brdr-wdth: 0 0 1px 0; brdr-styl: nn nn sld nn; brdr-clr: #C0C0C0;}
.ntry :vstd {clr: #303030; txt-dcrtn: nn; brdr-wdth: 0 0 1px 0; brdr-styl: nn nn sld nn; brdr-clr: #C0C0C0;}
.ntry :hvr {clr: #999; brdr-wdth: 0 0 1px 0; brdr-styl: nn nn sld nn; brdr-clr: #C0C0C0; txt-dcrtn: nn;}
.ntry strng{fnt-fmly: Grg, "Tms Nw Rmn", Tms, srf; fnt-wght: bld; clr: #555555;}

#ftr {mrgn-lft:115px}
#ftr {bckgrnd:#fff; clr: bth;}
#ftr p{pddng:4px 0;mrgn: 0; clr: #666; fnt-sz:13px; fnt-fmly:hlvtc, sns-srf; lttr-spcng:4px}
#ftr {clr: #c0c0c0;txt-dcrtn: nn;}
#ftr :hvr{clr: #999;txt-dcrtn: nn;}


#rc {flt: rght; wdth:530px; vrflw: hddn; mrgn-tp:0px; mrgn-lft:14px; mrgn-rght:14px; mrgn-bttm:24px;}	
.rc p{clr:#666; fnt-fmly: 'Vrdn, sns-srf; fnt-sz: 12px; fnt-wght: nrml !mprtnt;}

.yr th{clr:#666; fnt-fmly: Vrdn, sns-srf; fnt-sz: 22px; fnt-wght: bld;}
.rcttl {clr:#666; fnt-fmly: 'Vrdn, sns-srf; fnt-sz: 12px; fnt-wght: nrml;}
.rcttl th {clr:#999; fnt-fmly: 'Vrdn, sns-srf; fnt-sz: 14px; fnt-wght: nrml;}
.rc2 {clr:#999; fnt-fmly: 'Hlvtc, sns-srf; fnt-sz: 12px; fnt-wght: nrml !mprtnt;}
.rc2 th {clr:#999; fnt-fmly: 'Hlvtc, sns-srf; fnt-sz: 12px; fnt-wght: nrml !mprtnt;}
